*{
    margin: 0;
    padding: 0;
    font-family: 'Tiro Bangla', serif;
}
:root{
    background: linear-gradient(to right, rgb(112, 145, 145), rgb(106, 167, 167));
}
header{
    background-color: black;
}
.nav-center .ul-center{
    display: flex;
    justify-content: center;
    padding: 20px;
}
li a{
    padding: 20px;
    font-size: 2vw;
    font-weight: 700;
    text-decoration: none;
    color: white;
    list-style: none;
}
.container{
    background-color: var(--main-bg-color);
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#btn{
    width: 15em;
    background-color: rgb(33, 129, 129);
    border-radius: 5px;
    height: 5vh;
    color: white;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(69, 136, 136);
}
.box1{
    background-color: white;
    color: black;
    width: 60vw;
    height: 60vh;
    border-radius: 12px;
    box-shadow: 20px 70px 32px 0 rgba(5, 5, 5, 0.37);
    border: 2px solid rgba(24, 22, 22, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    height: 12em;
    margin-top: 2em;
    width: 19em;
    border-radius: 20px;
    background-color: #462338;
    overflow: hidden;
}
img{
    height: 12em;
    width: 19em;
    transition: 2s;
    border-radius: 20px;
}
img:hover{
    cursor: zoom-in;
    transform: scale(1.4);
}
h3{
    /* margin-top: 7em; */
    color: black;
    margin-bottom: 30px;
}

/* about page */
.container2{
    background-color: teal;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    margin: 0;
    background-color: white;
    color: black;
    width: 60vw;
    height: 100vh;
    border-radius: 12px;
    box-shadow: 20px 70px 32px 0 rgba(5, 5, 5, 0.37);
    border: 2px solid rgba(24, 22, 22, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    padding-top: 20px;
    text-align: center;
    
}
.submission-form{
    margin: 10em;
}
label{
    display: block;
    font-weight: 900;
    color: rgb(33, 129, 129);
}
input{
    display: block;
    width: 20em;
    height: 4vh;
    border-radius: 4px;
    cursor: pointer;
}
#add{
    width: 100%;
    margin-top: 1em;
    background-color: rgb(33, 129, 129);
    border-radius: 5px;
    height: 5vh;
    color: white;
    font-weight: 900;
    cursor: pointer;
/* }
#display{
    margin-top: 1em;
    width: 100%;
    background-color: rgb(33, 129, 129);
    border-radius: 5px;
    height: 5vh;
    font-weight: 900;
    color: white;
    cursor: pointer;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}
.box2{
    background-color: white;
    margin-top: 9vh;
    color: black;
    width: 50vw;
    height: 52vh;
    border-radius: 12px;
    box-shadow: 20px 70px 32px 0 rgba(5, 5, 5, 0.37);
    border: 2px solid rgba(24, 22, 22, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    margin-top: 5vh;
}
form{
    margin-top: 2vh;
}
.btn-list{
    color: white;
    background-color: rgb(21, 100, 100);
    width: 100%;
    height: 5vh;
    border-radius: 6px;
    margin-top: 2vh;
    border: 1px solid teal;
    font-size: 1em;
}
.container3{
    margin-top: 10vh;   
}
table{
    color: white;
}
.table{
    border-collapse: collapse;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(112, 103, 103, 0.15);
}
.table thead tr {
    background-color: rgb(21, 100, 100);
    color: #ffffff;
    text-align: left;
    color: white;
}
.table th,
.table td {
    padding: 12px 15px;
    font-size: 16px;
}
.table tbody tr {
    border-bottom: 1px solid #4b4545;
}

.table tbody tr:nth-of-type(even) {
    background-color: rgb(21, 100, 100);
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(21, 100, 100);
}
.styled-table tbody tr.active-row {
    font-weight: bold;
}
.btn-primary{
    color: #462338;
    font-weight: 700;
    height: 2em;
    width: 4em;
    border-radius: 7px;
    cursor: pointer;
}
h2{
    color: #ffffff;
}