*{
    margin: 0;
    padding: 0;
}
:root{
    background: linear-gradient(to right, rgb(8, 90, 90), rgb(106, 167, 167));
}
header{
    background-color: black;
}
.nav-center .ul-center{
    display: flex;
    justify-content: center;
    padding: 20px;
}
li a{
    padding: 20px;
    font-size: 2vw;
    font-weight: 700;
    text-decoration: none;
    color: white;
    list-style: none;
}
.container{
    background-color: var(--main-bg-color);
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#btn{
    width: 15vw;
    height: 6vh;
    font-size: 2vw;
    font-weight: 800;
    border-radius: 9px;
    border: 1px solid black;
}
h3{

    color: white;
    margin-bottom: 30px;
}
.container2{
    background-color: teal;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    background-color: white;
    color: black;
    width: 60vw;
    height: 60vh;
    border-radius: 12px;
    box-shadow: 20px 70px 32px 0 rgba(5, 5, 5, 0.37);
    border: 2px solid rgba(24, 22, 22, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    padding-top: 50px;
    text-align: center;
    
}
form{
    padding-top: 10px;
    text-align: center;
}
.text{
    
}
