*{
    margin: 0;
    padding: 0;
}
:root{
    background: linear-gradient(to right, rgb(8, 90, 90), rgb(106, 167, 167));
}
header{
    background-color: black;
}
.nav-center .ul-center{
    display: flex;
    justify-content: center;
    padding: 20px;
}
li a{
    padding: 20px;
    font-size: 2vw;
    font-weight: 700;
    text-decoration: none;
    color: white;
    list-style: none;
}
.container{
    background-color: var(--main-bg-color);
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#btn{
    width: 15vw;
    height: 6vh;
    font-size: 2vw;
    font-weight: 800;
    border-radius: 9px;
    border: 1px solid black;
}
h3{
    color: white;
    margin-bottom: 30px;
}

/* about page */
.container2{
    background-color: teal;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    background-color: white;
    color: black;
    width: 60vw;
    height: 60vh;
    border-radius: 12px;
    box-shadow: 20px 70px 32px 0 rgba(5, 5, 5, 0.37);
    border: 2px solid rgba(24, 22, 22, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    padding-top: 50px;
    text-align: center;
    
}
.submission-form{
    margin: 1em 1em;
}
label{
    display: block;
    font-weight: 900;
}
input{
    display: block;
    width: 20em;
    height: 4vh;
    border-radius: 4px;
}
#add{
    width: 100%;
    background-color: rgb(67, 71, 133);
    border-radius: 5px;
    height: 5vh;
    color: white;
    font-weight: 900;
}
#display{
    margin-top: 1em;
    width: 100%;
    background-color: rgb(67, 71, 133);
    border-radius: 5px;
    height: 5vh;
    font-weight: 900;
}
a{
    text-decoration: none;
    color:white;
}

/* display Page */
.main-content{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    color: white;
}
.bar{
    margin-top: 2em;
    border-collapse: collapse;
    font-size: 1em;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
  }
  h4{
    font-size: 1.5em;
    margin: 1em 0;
  }
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }